# source
lib
index.ts

# tests
/tests

# misc
package-lock.json
.eslintrc.js
tsconfig.json
tsconfig.build.json
.prettierrc
.prettierrc
.commitlintrc.json
docker-compose.yml
.husky/
.github/
.circleci/
renovate.json